<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.cordova.plugin.intentfilter"
      version="1.0">

    <name>NOSLinksPlugin</name>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=10.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <js-module src="www/NOSLinksPlugin.js" name="NOSLinksPlugin">
               <clobbers target="NOSLinksPlugin" />
    </js-module>
           
    <preference name="APP_HOST" default="dlapp.nos.pt" />
    <preference name="APP_SCHEME" default="/" />
    <preference name="APP_PATHPATTERN" default="/" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="$APP_SCHEME" />
                <data android:host="$APP_HOST" />
                <data android:pathPattern="$APP_PATHPATTERN" />
            </intent-filter>
        </config-file>
    </platform>
           
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="NOSLinksPlugin">
                   <param name="ios-package" value="NOSLinksPlugin" />
            </feature>
        </config-file>
               
        <config-file target="*-Debug.plist" parent="com.apple.developer.associated-domains">
            <array>
                <string>applinks:$APP_HOST</string>
            </array>
        </config-file>

        <config-file target="*-Release.plist" parent="com.apple.developer.associated-domains">
            <array>
                <string>applinks:$APP_HOST</string>
            </array>
        </config-file>

        <source-file src="src/ios/NOSLinksPlugin.h" />
        <source-file src="src/ios/NOSLinksPlugin.m" />
        <source-file src="src/ios/AppDelegate+NOSLinksPlugin.h" />
        <source-file src="src/ios/AppDelegate+NOSLinksPlugin.m" />
     
    </platform>
    <asset src="www/NOSLinksPlugin.js" target="NOSLinksPlugin.js" />
</plugin>
