<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.cordova.deeplinks.plugin"
      version="1.0">

    <name>CustomDeeplinksPlugin</name>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=10.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <js-module src="www/CustomDeeplinks.js" name="CustomDeeplinks">
               <clobbers target="CustomDeeplinks" />
    </js-module>
           
    <preference name="APP_HOST" default="/" />
    <preference name="APP_SCHEME" default="/" />
    <preference name="APP_PATHPATTERN" default="/" />

    <platform name="android">
               
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" />
                <data android:host="dlapp.nos.pt" />
                <data android:pathPattern="/dl" />
            </intent-filter>
        </config-file>

        <source-file src="src/android/CustomDeeplinksPlugin.java" target-dir="src/com/cordova/deeplinks/plugin" />
    </platform>
           
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="CustomDeeplinks">
                   <param name="ios-package" value="CustomDeeplinksPlugin" />
            </feature>
        </config-file>
               
        <config-file target="*-Debug.plist" parent="com.apple.developer.associated-domains">
            <array>
                <string>applinks:$APP_HOST</string>
            </array>
        </config-file>

        <config-file target="*-Release.plist" parent="com.apple.developer.associated-domains">
            <array>
                <string>applinks:$APP_HOST</string>
            </array>
        </config-file>

        <source-file src="src/ios/CustomDeeplinksPlugin.h" />
        <source-file src="src/ios/CustomDeeplinksPlugin.m" />
        <source-file src="src/ios/AppDelegate+CustomDeeplinksPlugin.h" />
        <source-file src="src/ios/AppDelegate+CustomDeeplinksPlugin.m" />
     
    </platform>
    <asset src="www/CustomDeeplinks.js" target="CustomDeeplinks.js" />
</plugin>
